html{width:100%;height:100%;font-size:62.5%;}
body{width:100%;min-height:100%;color:#333;color:#333;-webkit-overflow-scrolling:touch}
.clearfix:after,.clearfix:before{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
*{margin:0;padding:0;line-height:1;box-sizing:border-box;-webkit-box-sizing:border-box}
li,ol,ul{list-style:none;margin:0;padding:0}
.float-left{float:left!important}
.float-right{float:right!important}
.relative{position:relative}
h1,h2,h3,h4,h5,h6,p{padding:0;margin:0}
.page-wrap{
    background: #fff;
}
.section .title{
    height: 4.4rem;
    padding:0 1rem;
    font-size:1.5rem;
    line-height: 4.4rem;
    background: #e5e5e5;
}
.section .title span{
    padding-left:0.4rem;
    color:#e40000;
    border-left:0.2rem solid #e40000;
}
.option{
    padding:0.5rem 0;
    margin:0 1rem;
}
.option li{
    float: left;
    width: 50%;
    height: 3rem;
    font-size:1.2rem;
    line-height: 3rem;
}
.option li.option-block{
    width: 100%;
}
.bold{
    font-weight:bold;
}
.bt{
    border-top:1px solid #ccc;
}
.option li label{
    color:#999999;
}
.content{
    padding:0 1rem 1rem;
    font-size:1.2rem;
}
.content-title{
    margin-top:1rem;
    font-weight: bold;
    line-height: 3rem;
}
.content .text{
    line-height: 1.5;
}



















